<div class="col-12 md">
  <div class="row ">
    <div class="col card mr-2 p-3">
      <img src="assets/img/telcel.jpg" alt="" height="150px" />
    </div>
    <div class="col card p-3">
      <img src="assets/img/amigo.png" alt="" height="150px" />
    </div>
    <div class="col card ml-2 p-3">
      <img src="assets/img/amigo-sin-limite.png" alt="" height="150px" />
    </div>
  </div>
  <div class="row">
    <div class="col card mr-2 p-3">
      <img src="assets/img/movistar.jpg" alt="" height="150px" />
    </div>
    <div class="col card p-3" >
      <img src="assets/img/atyt.png" alt="" height="150px" />
    </div>
    <div class="col card ml-2 p-3">
      <img src="assets/img/unefon.png" alt="" height="150px" />
    </div>
  </div>
  <div class="row">
    <div class="col card mr-2 p-3">
      <img src="assets/img/virgin.png" alt="" height="150px" />
    </div>
    <div class="col card p-3">
      <img src="assets/img/freedompop.png" alt="" height="150px" />
    </div>
    <div class="col card ml-2 p-3">
      <img src="assets/img/oui.png" alt="" height="150px" />
    </div>
  </div>
  <div class="row">
    <div class="col card mr-2 p-3">
      <img src="assets/img/netwey.png" alt="" height="150px" />
    </div>
    <div class="col  p-3">
      
    </div>
    <div class="col  ml-2 p-3">
      
    </div>
  </div>
</div>
