<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Slider Inicio</h4>
          <a class="btn btn-primary" [routerLink]="['/sliderInicio/create']">Crear slider</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Link</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sliderBegin of slidersBegin">
                  <td><img src="{{sliderBegin.link}}" alt="" height="70px"></td>
                  <td>{{sliderBegin.link}}</td>
                  
                   
                  <td><a class="btn btn-primary" [routerLink]="['/sliderInicio/edit/'+sliderBegin.id]">Editar</a></td>
                  <td><a class="btn btn-primary" (click)="delete(sliderBegin.id)">Eliminar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
    
  </div>
  