<p>category-events works!</p>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Categoria de Eventos</h4>
          <a class="btn btn-primary" [routerLink]="['/categoriaEventos/create']">Agregar categoria</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  
                  <th>Nombre</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoryEvent of categoriesEvent">
                  
                  <td>{{categoryEvent.name}}</td>
                  
                   
                  <td><a class="btn btn-primary" [routerLink]="['/categoriaEventos/edit/'+categoryEvent.id]">Editar</a></td>
                  <td><a class="btn btn-primary" (click)="delete(categoryEvent.id)">Eliminar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
    
  </div>
  