<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ titulo }}</h4>
      </div>
      <div class="card-body">
        <form novalidate (ngSubmit)="handle()">
          <div class="row col">
            <div class="col">
              <label >Nombre</label>
              
              <input
                type="text"
                [(ngModel)]="user.username"
                class="form-control"
                placeholder="Ingrese su contraseña"
              />
            </div>
            <div class="col">
              <label >Contraseña</label>
              <input
                type="password"
                [(ngModel)]="user.password"
                class="form-control"
                placeholder="Ingrese su contraseña"
              />
            </div>
          </div>
          <div class="col-6">
            <label for="name">Modelo</label>
            <select name="rol" [(ngModel)]="user.rol" class="form-control">
              <option value="admin">Administrador</option>
              <option value="editor">Editor</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">
            {{ buttonText }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
